// .chat-container {
//   border-radius: 3px;
//   border: 1px solid cornflowerblue;
//   width: 400;
//   text-align: center;
//   background-color: white;
//   position: fixed;
//   right: 5px;
//   bottom: 5px;
// }
